<!-- <main class="grid min-h-full place-items-center bg-dark py-24 px-6 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">404</p>
      <h1 class="mt-4 text-3xl font-extrabold tracking-tight text-white-900 sm:text-5xl">Page not found</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>
      <div class="mt-10 flex items-center justify-center">
        <a href="#" class="text-sm font-semibold text-white-900">Go back home<span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
  </main> -->

  <div class="mt-5 bg-yellow-200 text-yellow-800 px-6 py-4" role="alert">
    <p class="font-bold">Page under development</p>
    <p class="text-sm">This page is currently under development and may not be fully functional or complete. Please check back later for updates.</p>
  </div>
  