<div class="container flex flex-wrap items-center justify-between mx-auto p-2">
    <h4 class="text-center font-extrabold p-4 m-auto text-3xl">Brainstorm Blog</h4>
    <p class="text-base p-2 lg:px-28 text-center text-gray-500 sm:text-lg dark:text-gray-400">A platform for creative
        exploration, where thought-provoking ideas and unique perspectives are shared to inspire change and expand
        horizons through writing.</p>

    <div class="grid gap-2 gap-y-4 md:gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  m-auto">
        <ng-container *ngFor="let item of blogData">
            <app-blog-card class="" [postData]="item" [isDarkEnable]="isDarkEnable">
                <img class="img-wrapper border-0 rounded-t-lg max-h-full w-full" [src]="item.path"
                    alt="blog post image">
                <p class="source text-xs text-gray-400">https://aakashindia.web.app . 6min</p>
                <header class="dark:text-black hover:text-blue-600 blog-header font-sans title font-semibold">{{item.title}}</header>
                <p class="excerpt clamp overflow-ellipsis trun">{{item.intro}}</p>
            </app-blog-card>
        </ng-container>
    </div>
</div>