/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body.dark-mode {
  background-color: #2d3436;
  color: #ffffff;
}

body.light-mode {
  background-color: #f8eeec;
  color: #2d3436;
}

body:not(.light-mode-preloading) {
  transition: all 0.3s linear;
}

.border-b {
  border-bottom-width: 0.3px;
}
.border-t {
  border-top-width: 0.3px;
}

//css override 

.font-extrabold{
  font-weight: 800 !important;
}

.text-3xl{
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}
.m-auto {
  margin: auto !important;
}