<div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
<div class="flex-1 text-center mt-6 p-2">
    
    <ngx-typed-js [strings]="['Angular 15.', 'ReactJs.', 'TypeScript.','JavaScript.', 'NodeJs.', 'ExpressJs.']" [backSpeed]="100" [loop]="true" [shuffle]="true" [typeSpeed]="100">
        <div class="inline-flex flex-row font-bold text-3xl">Welcome to our website</div><br>
        <div class="mt-3 dark:text-gray-400 text-gray-500 inline-flex flex-row text-lg py-2  ">Empower Your Next Project with &nbsp;<span class="text-blue-600 text-xl typing"></span></div>
    </ngx-typed-js>
    <p class="text-center text-base text-gray-500 sm:text-lg dark:text-gray-400">
        Our team of experienced web developers is here to help bring your business online and make it thrive. With the increasing importance of technology, having an online presence is crucial for businesses of all sizes. 
        We provide customized website solutions tailored to meet your specific needs. Our websites are designed with the latest technologies and user-friendly features, ensuring a seamless experience for your customers. From small startups to large corporations, 
        our goal is to help your business grow. Let us help you take your business to the next level with a stunning and functional website. Contact us today.
    </p>    
</div>
<div class="flex-1"><img class=" m-auto" mat-card-image src="../../assets/images/blog/develop-web.gif" alt="gif file"></div>
</div>
